    <config>  
        <enabled>true</enabled><!-- 是否启动CKFinder，默认是false，需要手动改成true -->  
        <baseDir></baseDir><!-- 文件、图片存放的物理路径，会在指定路径下自动创建目录结构。最好不要设置，如果为空会在web应用根目录下创建对应的文件夹，如果设置在与CKEditor整合后根据URL找不到图片-->  
        <baseURL>/Digitalprocessing/ck/userfiles/</baseURL><!-- 上传文件夹的URL配置，注意：需要添加发布的项目名，不添加则无法预览，添加错了则找不到文件 -->  
        <licenseKey></licenseKey>  
        <licenseName></licenseName>  
        <imgWidth>1600</imgWidth>  
        <imgHeight>1200</imgHeight>  
        <imgQuality>80</imgQuality>  
        <uriEncoding>UTF-8</uriEncoding>  
        <forceASCII>false</forceASCII>  
        <userRoleSessionVar>CKFinder_UserRole</userRoleSessionVar>  
        <checkDoubleExtension>true</checkDoubleExtension>  
        <checkSizeAfterScaling>true</checkSizeAfterScaling>  
        <secureImageUploads>true</secureImageUploads>  
        <htmlExtensions>html,htm,xml,js</htmlExtensions>  
        <hideFolders>  
            <folder>.svn</folder>  
            <folder>CVS</folder>  
        </hideFolders>  
        <hideFiles>  
            <file>.*</file>  
        </hideFiles>  
        <defaultResourceTypes></defaultResourceTypes>  
        <types>  
            <type name="Files">  
                <url>%BASE_URL%files/</url>  
                <directory>%BASE_DIR%files</directory>  
                <maxSize>0</maxSize>  
                <allowedExtensions>bmp,csv,doc,docx,gif,jpeg,jpg,pdf,png,ppt,pptx,rar,swf,txt,vsd,xls,xlsx,zip,gz,gzip,tar,tgz,xml  
                </allowedExtensions>  
                <deniedExtensions></deniedExtensions>  
            </type>  
            <type name="Images">  
                <url>%BASE_URL%images/</url>  
                <directory>%BASE_DIR%images</directory>  
                <maxSize>0</maxSize>  
                <allowedExtensions>bmp,gif,jpeg,jpg,png</allowedExtensions>  
                <deniedExtensions></deniedExtensions>  
            </type>  
            <type name="Flash">  
                <url>%BASE_URL%flash/</url>  
                <directory>%BASE_DIR%flash</directory>  
                <maxSize>0</maxSize>  
                <allowedExtensions>swf,flv</allowedExtensions>  
                <deniedExtensions></deniedExtensions>  
            </type>  
        </types>  
        <accessControls>  
            <accessControl>  
                <role>*</role>  
                <resourceType>*</resourceType>  
                <folder>/</folder>  
                <folderView>true</folderView>  
                <folderCreate>true</folderCreate>  
                <folderRename>true</folderRename>  
                <folderDelete>true</folderDelete>  
                <fileView>true</fileView>  
                <fileUpload>true</fileUpload>  
                <fileRename>true</fileRename>  
                <fileDelete>true</fileDelete>  
            </accessControl>  
        </accessControls>  
        <thumbs>  
            <enabled>true</enabled>  
            <url>%BASE_URL%_thumbs/</url>  
            <directory>%BASE_DIR%_thumbs</directory>  
            <directAccess>false</directAccess>  
            <maxHeight>100</maxHeight>  
            <maxWidth>100</maxWidth>  
            <quality>80</quality>  
        </thumbs>  
        <plugins>  
            <plugin>  
                <name>imageresize</name>  
                <class>com.ckfinder.connector.plugins.ImageResize</class>  
                <params>  
                    <param name="smallThumb" value="90x90"></param>  
                    <param name="mediumThumb" value="120x120"></param>  
                    <param name="largeThumb" value="180x180"></param>  
                </params>  
            </plugin>  
            <plugin>  
                <name>fileeditor</name>  
                <class>com.ckfinder.connector.plugins.FileEditor</class>  
                <params></params>  
            </plugin>  
        </plugins>  
        <basePathBuilderImpl>com.ckfinder.connector.configuration.ConfigurationPathBuilder</basePathBuilderImpl>  
    </config>  